<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Thiago Sampaio</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <header id="masthead" class="site-header" data-anchor-target=".hero" data-top="background: rgba(255,255,255,0); padding: 30px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0);" data-top-bottom="background: rgba(255,255,255,1); padding: 10px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2);">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">
                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle collapsed" data-target="#portfolio-perfect-collapse" aria-expanded="false" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                </div><!-- /.navbar-header -->

                <div class="main-menu" id="portfolio-perfect-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="page-scroll"><a href="#hero">Home</a></li>
                        <li class="page-scroll"><a href="#about">Sobre</a></li>
                        <li class="page-scroll"><a href="#service">Serviços</a></li>
                        <li class="page-scroll"><a href="#portfolio">Experiência</a></li>
                        
                    </ul><!-- /.navbar-nav -->

                </div><!-- /.navbar-collapse -->

            </div>
        </nav><!-- /.primary-navigation -->
    </header><!-- /#header -->

    <div id="hero" class="hero">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <h1>Thiago Sampaio</h1>
                    <div class="page-scroll">
                        <p class="job-title">Ciêntista de Dados</p>
                        <a href="#contact" class="btn btn-fill ">Me contrate</a>
                        <div class="clearfix visible-xxs"></div>
                        <a href="#portfolio" class="btn btn-border">Explore</a>
                    </div>
                </div>
            
                <div class="col-md-6 text-right">
                    <img src="../static/img/thiago.jpg" alt="thiago">
                </div>

            </div>
        </div>
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section id="about" class="site-section section-about text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2>Sobre</h2>
                        <img src="../static/img/lines.svg" class="img-lines" alt="lines">
                        <p>Olá! Sou Thiago, Ciêntista de Dados e Engenheiro. Estou atualmente aberto para propostas de emprego. Se você precisa de um ciêntista de dados, eu sou a pessoa certa. Abaixo você pode ver meu curriculum e formas de contato.</p>
                        <a href="https://resume.io/r/oAZlPnCCj" class="btn btn-fill" target="_blank" download>Veja meu Curriculum</a>
                    </div>
                </div>
            </div>
        </section><!-- /.secton-about -->

        <section class="site-section section-skills">
            <div class="container">
                <div class="text-center">
                    <h3>Minhas habilidades</h3>
                    <img src="../static/img/lines.svg" class="img-lines" alt="lines">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>Machine Learning</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="100"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>Deep Learning</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="85"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>Python</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="100"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>Análise de Dados</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="95"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>DB</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="90"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>HTML/CSS/JS</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="60"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-skills -->

        <section id="service" class="site-section section-services overlay text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>O que eu faço</h3>
                        <img src="../static/img/lines.svg" class="img-lines" alt="lines">
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="../static/img/front-end.svg" alt="Front End Developer">
                            <h4>Modelagem</h4>
                            <p>Transformo em números e prevejo padrões de qualquer tipo de dados, sendo eles estruturados(.csv) ou não estruturados(imagens, voz, texto). Entregando no final um algoritmo capaz de prever e ou mapear uma saída desejada.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="../static/img/back-end.svg" alt="Back End Developer">
                            <h4>Prototipação</h4>
                            <p>Sou capaz de prototipar rapidamente uma idéia, sem a dependência de serviços absurdos, para o teste in loco. No final do teste preparar uma solução que responda a requisição da equipe de back-end.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="../static/img/consultancy.svg" alt="Coding">
                            <h4>Análise de dados</h4>
                            <p>Possuo background estatístico,probabilístico e boas práticas para uma análise correta de dados, tirando possíveis erros de viés .</p>
                        </div><!-- /.service -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-services -->

        <section id="portfolio" class="site-section section-portfolio">
            <div class="container">
            <div class="main-timeline">
                                    <!-- start experience section-->
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <span class="month">2 meses</span>
                                <span class="year">2020</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title">NLP</h5>
                        <p class="description">
                            Criação de plataforma para processamento de linguagem natural.<a href="https://analise-sentimental.herokuapp.com/">Clique aqui</a>
                        </p>
                    </div>
                </div>

                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <span class="month">60 horas</span>
                                <span class="year">2020</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title">Bootcamp Stanford</h5>
                        <p class="description">
                            Com o renomado professor Andrew Ng, aprendi toda modelagem básica para um algoritmo de machine learning.
                        </p>
                    </div>
                </div>
                <!-- end experience section-->
                                    <!-- star experience section-->
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <span class="month">60 Horas</span>
                                <span class="year">2020</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title">Bootcamp National Research University Higher School of Economics</h5>
                        <p class="description">
                            Aprendi técnicas avançadas de machine learning, estando com os melhores competidores kaggle do mundo.
                        </p>
                    </div>
                </div>
                <!-- end experience section-->
                                    <!-- star experience section-->
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <span class="month">5 meses</span>
                                <span class="year">2020</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title">Bootcamp DeepLearnig.ai</h5>
                        <p class="description">
                            Aprendi técnicas para tratamento e modelagem de dados não estruturados como imagens, vídeos, textos e voz.
                        </p>
                    </div>
                </div>
                <!-- end experience section-->
                                    <!-- star experience section-->
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <span class="month">2 anos</span>
                                <span class="year">2018</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title">Aprensentação de Artes e Tecnologia</h5>
                        <p class="description">
                            Já premiado, com R$50.000, para impletação de um projeto de arte e tecnologia em São Paulo.
                        </p>
                    </div>
                </div>
                <!-- end experience section-->
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <span class="month">3 meses</span>
                                <span class="year">2016</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title">Uppasala University(Suécia)</h5>
                        <p class="description">
                         Experiência internacional, implantando um protótipo de controle para motores elétricos
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <span class="month">3 anos</span>
                                <span class="year">2015</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title">PET-Programa de educação Tutorial</h5>
                        <p class="description">
                         Durante 3 anos fui bolsista do PET-Elétrica-UFJF(Programa de educação Tutorial)
                        </p>
                    </div>
                </div>

                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <span class="month">1 ano</span>
                                <span class="year">2015</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title">Estágio-MRS logística</h5>
                        <p class="description">
                         Durante 1 ano fui estágiario na área comercial da empresa.
                    </div>
                </div>

                <div class="timeline">
                    <div class="icon"></div>
                    <div class="date-content">
                        <div class="date-outer">
                            <span class="date">
                                <span class="month">1 ano</span>
                                <span class="year">2005</span>
                            </span>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <h5 class="title">Funai</h5>
                        <p class="description">
                         Durante 1 ano trabalhei no de atendimento para povos indigenas, visitando aldeias isoladas e trabalhando com a logística de entrega de suprimentos.
                    </div>
                </div>
            </div
            </div>
        </section><!-- /.secton-portfolio -->

        <section class="site-section section-counters text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <p class="counter start" data-to="2" data-speed="2000">0</p>
                        <h4>Anos de experiência</h4>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p id="infinity" class="counter" data-from="0" data-to="1" data-speed="1000">0</p>
                        <h4>Segundos neste site<br>O que você está esperando?</h4>
                    </div>
                </div>
            </div>
        </section><!-- /.section-counters -->

    </main><!-- /#main -->
    <!-- /#footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="../static/js/skrollr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-progressbar/0.9.0/bootstrap-progressbar.min.js"></script>
    <script src="../static/js/jquery.countTo.min.js"></script>
    <script src="../static/js/script.js"></script>
  
</body>
</html>